.img-1 {
  background: url('../images/folder.svg') no-repeat center/contain;
}

.img-2 {
  background: url('../images/folder-open.svg') no-repeat center/contain;
}

.img-3 {
  background: url('../images/plus.svg') no-repeat center/contain;
}

.img-4 {
  background: url('../images/minus.svg') no-repeat center/contain;
}

.img-5 {
  background: url('../images/checkbox.svg') no-repeat center/contain;
}

.img-6 {
  background: url('../images/stop.svg') no-repeat center/contain;
}

.img-7 {
  background: url('../images/play.svg') no-repeat center/contain;
}

.img-8 {
  background: url('../images/play.svg') no-repeat center/contain;
  transform: rotate(90deg);
}

.img-9 {
  background: url('../images/link.svg') no-repeat center/contain;
}

.img-10 {
  background: url('../images/folder-open.svg') no-repeat center/contain;
}

.img-11 {
  background: url('../images/play.svg') no-repeat center/contain;
  transform: rotate(90deg);
}

.img-12 {
  background: url('../images/play.svg') no-repeat center/contain;
  transform: rotate(90deg);
}

.link {
  background: url('../images/link.svg') no-repeat center/contain;
}